services:
  database:
    image: postgis/postgis:16-3.5
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME:-word-map}
      POSTGRES_USER: ${DB_LOGIN:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    ports:
      - "5120:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    mem_limit: 200m

  app:
    image: megokolos/word_map_game:001
    build:
      context: word-map
    container_name: word_map_game
    depends_on:
      - database
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://database:5432/${DB_NAME:-word-map}
      SPRING_DATASOURCE_USERNAME: ${DB_LOGIN:-postgres}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD:-postgres}
      AUTH_EMAIL_USERNAME: ${AUTH_EMAIL_USERNAME:-default}
      AUTH_EMAIL_PASSWORD: ${AUTH_EMAIL_PASSWORD:-default}
      JWT_SECRET: ${JWT_SECRET:-lEQoPvm8IucH/zFadJbAjJz9J1fNrW77TOFZCrQNo9Q=}
      YANDEX_CLIENT_ID: ${YANDEX_CLIENT_ID:-default}
      YANDEX_CLIENT_SECRET: ${YANDEX_CLIENT_SECRET:-default}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
    ports:
      - "2507:8080"
    mem_limit: 400m

volumes:
  pg_data: