spring:
  security:
    oauth2:
      client:
        registration:
          yandex:
            client-id: ${YANDEX_CLIENT_ID:default}
            client-secret: ${YANDEX_CLIENT_SECRET:default}
            scope:
              - login:email
              - login:info
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Yandex
        provider:
          yandex:
            authorization-uri: https://oauth.yandex.ru/authorize
            token-uri: https://oauth.yandex.ru/token
            user-info-uri: https://login.yandex.ru/info
            user-name-attribute: default_email
jwt:
  secret: lEQoPvm8IucH/zFadJbAjJz9J1fNrW77TOFZCrQNo9Q=
  expiration:
    access-token-expiration: 1d
    refresh-token-expiration: 14d
